<div id="content">
  <h2>
    Tasty Inventory
  <% if current_user %>
    <span id="add_link">
      <%= link_to "add inventory", new_inventory_path %>
    </span>
  <% end %>
  </h2>

  <ul id="inventory_list">
  <% @inventories.each do |inventory| %>
    <li>
      <%= inventory.amount %> <%= inventory.unit.name %> - <%= link_to inventory.ingredient.name, inventory_path(inventory), class: "inventory" %>
    </li>
  <% end %>
  </ul>
</div>
