<div id="content">
  <h2>Search Results</h2>
  <ul id="recipe_list">
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe), class: "recipe" %>
      <span class="rating">
        <% if recipe.ratings.count > 0 %>
          <%= Rating.rating_description(recipe.ratings.inject(0){ |sum, rating| sum + rating["rating"] } / recipe.ratings.count) %>
        <% else %>
          <%= Rating.rating_description(0) %>
        <% end %>
      </span>
    </li>
  <% end %>
  </ul>
</div>
