<div id="content">
  <h2>
    Tasty Ingredients
  <% if !current_user.nil? && current_user.admin === true %>
    <!--<span id="add_ingredient_link">
      <%= link_to "add ingredient", new_ingredient_path %>
    </span>-->
  <% end %>
  </h2>

  <%= Ingredient::ingredient_to_table(@ingredient_category).html_safe %>

</div>
