/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body{
  background: #e9e6e6;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

/*---- HEADERS ----*/
h1, h2, h3{
  color: #5b8dd0;
}
h2, h3{
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
h2{
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*---- LINKS ----*/
a, a:visited {
  color: #536878;
  text-decoration: none;
}

/*---- FORM ELEMENTS ----*/
label {
  color: #B4886B;
  font-weight: bold;
  margin: 0 0.5rem 0 0.5rem;
}
input, textarea {
  background: #fff;
  border: 1px solid #409bcf;
  border-radius: 5px;
  color: #5b8dd0;
  font-size: 1.1rem;
  margin: 0.25rem;
  padding: 0.35rem 0.65rem;
  width: 100%;
}
.long_form input, .long_form textarea {
  margin:0.5rem 0;
}
button, #submit, .button{
  background: #409bcf;
  border: 1px solid #409bcf;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  text-transform: lowercase;
}
button i, input i{
  color: #fff;
}

/*---- NOTIFICATIONS ----*/
.flash {
  background-color: #AAE5F4;
  color: #03337f;
  padding: 1rem;
}
.flash_error {
  background-color: #F4AAAA;
  color: #B31414;
  padding: 1.5rem;
}

.click {
  cursor: pointer;
}

/*---- SITE HEADER ----*/
header{
  background: #fff;
  color: #5b8dd0;
  margin: 0;
  padding: 4rem 1rem 1rem 1rem;
}
h1{
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: -3px;
  margin: 0;
  text-align: center;
}
header i{
  color: #87ade0;
}

/*---- SITE NAVIGATION ----*/
nav{
  margin: 0.5rem 1rem 0.5rem 1rem;
}
#nav_links_left, #nav_links_right{
  display: block;
  text-align: center;
}
#nav_links_left a, #nav_links_right a {
  display:inline
}
#back_link{
  display: block;
  margin-top: 2rem;
}

/*---- SITE CONTENT ----*/
#content{
  color: #36454f;
  margin: 1rem;
  padding: 1rem;
}
#search_form button {
  display: inline;
  margin-bottom: 2rem;
  padding: 0.3rem 0.5rem;
}
#control_bar{
  margin: 1rem 0 3rem 0;
}
#new_rating input, #user_remember_me{
  display: inline;
  width: auto;
}
.rating{
  background: #fff;
  border-radius: 10px;
  color: #999;
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem 0.2rem 0.4rem;
}
#rating_list{
  padding: 0;
}
#rating_list .rating{
  list-style: none;
  margin-top: 1rem;
  padding: 1rem;
}
.rating strong{
  font-size: 2rem;
}
#new_rating_area{
  display: none;
}
#creator{
  margin: 0 0 2.5rem 0;
}
#brew_score, #add_link{
  white-space: nowrap;
}
#ingredient_table{
  margin: 0.1rem 0 1rem 0;
  padding: 0 0 0 0.5rem;
}
th{
  font-weight:bold;
  text-align: right;
  padding-right: 0.5rem
}
.ingredient td{
  padding: 0.2rem 1rem;
}
.amount{
  text-align: right;
}

/*---- MEDIA QUERIES ----*/
@media (min-width: 600px) {
  header {
    padding: 8rem 2rem 1.5rem 2rem;
  }
  h1{
    text-align: left;
  }
  #nav_links_left{
    display: inline-block;
    text-align: left;
    width:45%;
  }
  #nav_links_right{
    display: inline-block;
    text-align: right;
    width:52%;
  }
  #search_form input {
    width: 60%;
  }
  .long_form input, .long_form textarea {
    width: 20rem;
  }
  #submit{
    width:auto;
  }
  #brew_score, #add_link{
    float: right;
  }
}
label {
  color: #B4886B;
  font-weight: bold;
  margin: 0 0.5rem 0 0.5rem;
}
